body {
  background-image:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/IevwMJs/videoblocks-low-poly-background-dark-gray_sybsaxouf_thumbnail-full01.png);
  background-size: 100%;
  background-attachment: fixed
}

.titlay {
  color: white;
  font-size: 50;
  font-family: fantasy;
  font-style: italic;
  background-color: grey;
}
.capstion {
  color: red;
  font-size: 30;
  font-family: sans-serif;
}
.div1 {
  width: 100%;
  text-align: center;
}
.div2 {
  margin: 0 auto;
  width: 1000px
}
.text1 {
  color: white;
  font-family: cursive;
  text-align: center;
}
.text2 {
  background-color: grey;
  font-family: monospace;
  color: white;
  font-size: 45;
  font-family: fantasy;
  padding: 10px;
  text-decoration: none;
}
.article {
  font-size: 30px;
  font-family: sans-serif;
  margin: 10px
}
.article-header {
  font-size: 40px;
  font-family: 'Merriweather', serif;
  margin: 10px
}
.article-title {
  font-size: 45px;
  font-family: 'Merriweather', serif;
  margin: 10px;
}
.wrap {
  width: 70%;
  margin: 0 auto;
  background-color: white;
}
