@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
  font-family: Asap, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
}

header {
padding: 20px;
background: white;
}

header > h1 {
  font-family: Asap, sans-serif;
  font-size: 50px;
  color: #282c34;
  text-align: center;
}

.wrap {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.article-1 {
  color: white;
  font-size: 20px;
  padding: 20px;
}

#credit {
  font-size: 15px;
}

#Box {
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
  font-size: 20px;
  background-color: #282c34;
  color: white;
}

#credBtn {
  margin-left: 10px;
  border: none;
  font-size: 20px;
  background-color: #282c34;
  color: white;
}
